<div class="container-fluid p-5 bg-danger text-white text-center">
    <h1><b>GMAIL 2.0</b></h1>
  </div>

  <div id='gmail-logo'></div><!-- Prof ho provato ad inserire il logo gmail
     ma non ci sono riuscito  -->

  <div class="container mt-5">
    <h3 class="mb-4">Scrivi una mail:</h3>
    <form (submit)="salvaEmail()" class="was-validated shadow p-4 rounded">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="uname" class="form-label"><b>Da:</b></label>
            <input type="email"  id="uname" placeholder="La tua mail" name="Destinatario" required [(ngModel)]="mittente">
            <div class="valid-feedback">👍🏿</div>
            <div class="invalid-feedback">Inserisci una mail valida.</div>
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label"><b>Oggetto:</b></label>
            <input type="text" id="subject" placeholder="Oggetto mail" name="oggetto" required [(ngModel)]="oggetto">
            <div class="valid-feedback">👍🏿</div>
            <div class="invalid-feedback">Inserisci l'oggetto.</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="pwd" class="form-label"><b>Destinatario:</b></label>
            <input type="email"  id="pwd" placeholder="Destinatario della mail" name="destinatario" required [(ngModel)]="destinatario">
            <div class="valid-feedback">👍🏿</div>
            <div class="invalid-feedback">Inserisci una mail valida per il destinatario.</div>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label"><b>Testo:</b></label>
            <textarea  id="message" placeholder="Testo" name="testo" required [(ngModel)]="testo"></textarea>
            <div class="valid-feedback">👍🏿</div>
            <div class="invalid-feedback">Inserisci il testo.</div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-danger">Invia e salva</button>
    </form>
  </div>
  <app-sent-email [emails]="emails"> </app-sent-email>
  